/* START CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* END CSS RESET */

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: green;
}

main {
    padding: 48px;
}

.projects {
    padding: 48px 24px;
}

.projects__nav-title {
    font-size: 1.2rem;
}

.task {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    border-bottom: 1px solid gray;
}

.task__heading {
    display: flex;
    gap: 16px;
}

.task__title {
    font-size: 1.4rem;
}

.task__sub-heading {
    display: flex;
    gap: 16px;
    margin-left: 30px;
}

.project__add-task-button {
    width: 100%;
    margin: 16px 0;
    padding: 16px 0;
    border: 1px solid black;
    border-radius: 32px;
    cursor: pointer;
}